body{
	background-image: url("../images/fundidora_park3.jpg");
	margin: 0 !important;

	.containerhm{
		display: flex;
    	justify-content: center;
		align-items: center;
		margin: 0 auto;

		.wrappercontent{
			border: 4px solid gray;
			background-color: #FFF;
			opacity: .95;
			margin: 1em;
			
			.imgcontainer {
				text-align: center;
				margin: 24px 0 12px 0;
	
				img.avatar {
					//width: 40%;
					border-radius: 50%;
					border:1px solid gray
				}
			}
	
			.wrapper {
				padding: 16px;
				max-width: 20em;
	
				label{
					b{
						font-family: "Verdana", Verdna, sans-serif;
						color: #000;
						
					}
					.errmsg{
						color: red;
					}
				}
	
				input[type=text], input[type=password] {
					width: 100%;
					padding: 12px 20px;
					margin: 8px 0;
					display: inline-block;
					border: 1px solid #ccc;
					box-sizing: border-box;
				}
	
				button {
					background-color: #00688B;
					color: white;
					padding: 14px 20px;
					margin: 8px 0;
					border: none;
					cursor: pointer;
					width: 100%;
				}
	
				button:hover {
					opacity: 0.8;
				}	
	
			}
		}

		
	}
	
	#content, 	#addactcontent, #actinfo{
		header{
			background: gray;
			font-family: "Verdana", Verdana, sans-serif;
			display: flex;
			
			label{
				margin-left: 1em;
				h1{
					color: #FFF;
				}
			}

			label:hover{
				// border: 1px solid gray;
				h1{
					color: black;
				}
			}
		}
		
		.divact{
			#divactivity{
				.row{
					margin: 1em;
					.actname{
						font-size: 20px;
						cursor: pointer;
					}

					.actname:hover{
						// border: solid 1px gray;
						background-color: #00688B;
						color: white;
						opacity: .8;
					}

					div{
						img{
							width: 300px;
						}
					}
				}
			}
		}

		#divinfo{
			.row{
				margin: 1em;
				.actname{
					font-size: 20px;
				}

				.col-md-6{
					.row{
						img{
							width: 400px;
						}
					}
				}
			}
		}

		.btncontainer{
			display: flex;
    		justify-content: center;
			align-items: center;
			button {
				background-color: #00688B;
				color: white;
				padding: 14px 20px;
				margin: 8px 5px;
				border: none;
				cursor: pointer;
				width: 10em;
			}

			button:hover {
				opacity: 0.8;
			}	
		}

		.container{
			.firstdiv{
				padding: 10px;
			}
		}
	}
}